{% extends 'main/header.html' %}


{% block content %}

	<div class="row">
			<font size="4.5">
		<p>hi this a todo applications
		<ul>database used :postgres</ul>
		<ul>CRUD operations can be performed </ul>
		<ul>appropriate models have been used </ul>
		<ul>REGISTER TO USE THE APP</ul>
		Your each todo task will be display like this
		</p>
		</font>
		<div class="row">
		
				<div class="col s12 m6">
				  <div class="card blue-grey darken-1">
					<div class="card-content white-text">
					  <span class="card-title">todo_title</span>
					  <p style="font-style:70% ">todo_deadline</p>
					  <p>todo_content</p>
					</div>
					<div class="card-action">
								<a href="#">STATUS_COMPLETED:</a>
								<a href="#">yes or no </a>
					  
					</div>
				  </div>
				</div>
		
		  </div>
	<p>
	PLEASE NOTE THAT secret key has been set to "" SECRET_KEY = ''
	debug is set to False DEBUG = False
	Since debug is set to False ,allowed_hosts is set as: ALLOWED_HOSTS = ['localhost', '127.0.0.1']	
	</p>
  </div>
            
{% endblock %}
